body{
            font-family: Arial;
            background:#f4f4f4;
            padding:20px;
        }

        h1{
            text-align:center;
        }

        #product-container{
            display:grid;
            grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
            gap:20px;
            margin-top:30px;
        }

        .card{
            background:white;
            padding:15px;
            border-radius:10px;
            box-shadow:0 4px 10px rgba(0,0,0,0.1);
        }

        .card img{
            width:100%;
            height:200px;
            object-fit:contain;
        }

        .title{
            font-size:16px;
            font-weight:bold;
            margin:10px 0;
        }

        .price{
            color:green;
            font-weight:bold;
        }

        .category{
            color:#555;
            font-size:14px;
        }

        .description{
            font-size:13px;
            margin-top:10px;
        }

        .actions{
            margin-top:10px;
        }

        button{
            padding:6px 10px;
            border:none;
            border-radius:5px;
            cursor:pointer;
        }

        .edit{
            background:#3498db;
            color:white;
        }

        .delete{
            background:#e74c3c;
            color:white;
        }